Flask==2.2.2
opencv-python==4.7.0.68
numpy==1.23.5
imageio==2.22.4
google-api-python-client==2.70.0
tensorflow==2.11.0
keras==2.11.0
transformers==4.25.1
Pillow==9.3.0
requests==2.28.1
matplotlib==3.6.2
sklearn==1.2.0
